<div class="m-5">
  <h1>My tasks</h1>
</div>
<ul>
  <% @tasks.each do |task| %>
    <div class="d-flex form-check align-items-start my-2 justify-content-between px-5 mx-5">
      <li class="form-check-label" for="flexCheckDefault"><%= link_to task.title, task_path(task), class: "link-underline"%></li>
      <div class="mx-3 px-3">
        <button type="button" class="edit btn btn-light border"><%= link_to 'ðŸ—‘ï¸', destroy_path(task), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></button>
      </div>
    </div>
  <% end %>
  <div class="px-5 mx-5 pt-3 d-flex justify-content-start">
    <div class="py-4">
      <%= link_to "Add a new task", new_path, class: "add-underline" %>
    </div>
  </div>
</ul>
